<launch>
<!--     <param name="path_name" value="$(find coverage_planning)/tests/data/straight_path.npy"/> -->
    <param name="path_name" value="$(find coverage_planning)/data/path.npy"/>
<!--     <param name="path_name" value="$(find coverage_planning)/data/path_zero_heading.npy"/> -->
    <node pkg="coverage_planning" type="coverage_ros.py" name="coverage_node" output="screen"/>\
</launch>